*{
    margin: 0;
    padding: 0;
}
body {
    font-family: "Montserrat", sans-serif;
   overflow-x:hidden;
}
/* top nav */
.wrapper .top_nav{
    background-color: #111;
    width: 100%;
    height: 25px;
 
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .wrapper .top_nav .left{
      width:18%;
      height: 100%;

      background:rgb(108, 59, 153);
    display: flex;
    align-items: center;
  }
  
  .wrapper .top_nav .left .num{
    padding: 20px 30px;
    font-size: 14px;
    font-weight: bold;
    font-stretch: extra-condensed;
    color: white;
    font-family:'Courier New', Courier, monospace, cursive;

  }
  
  .wrapper .top_nav .right ul .vl{
    border-left: 2px solid green;
    height:15px;
  }
  

  .wrapper .top_nav .right ul{
    display: flex;
    list-style-type: none;
  }
  
  .wrapper .top_nav .right ul li{
    margin: 0 12px;
  }
  
  .wrapper .top_nav .right ul li:last-child{
    
    margin-right: 5px;
    text-transform: uppercase;
    letter-spacing: 3px;
  }

  
  .wrapper .top_nav .right ul li a{
    display: block;
    padding: 0px 5px;
    color: white;
  }
  .wrapper .top_nav .right ul li p{
      padding-top: 2px;
      font-size: small;
      color: #fff;
  }
  

  .menu-toggle {
    display: none;
    align-self:center;
    padding-left: 60%;
    flex-direction: column;
    height: 20px;
    margin-right: 10px;
    justify-content: space-between;
    position: absolute;
}

.menu-toggle input {
    position: absolute;
    width: 40px;
    height: 28px;
    
    padding-left: 60%;
    top: -3px;
    opacity: 0;
    cursor: pointer;
    z-index: 1;
}

.menu-toggle span {
    display: block;
    width: 28px;
    height: 3px;
    background-color: beige;
    border-radius: 3px;
    transition: all 0.5s;
}

/* Burger Menu animation */
.menu-toggle span:nth-child(2) {
    transform-origin: 0 0;
}



.menu-toggle span:nth-child(4) {
    transform-origin: 0 100%;
}

/* Jika input checked maka sibling(~) ke span:nth-child(2) */

.menu-toggle input:checked~span:nth-child(2) {
    /* transform: rotate(45deg) translate(-1px, -1px); */
    transform: rotate(45deg);
    width: 25px;
}

.menu-toggle input:checked~span:nth-child(3) {
    transform: scale(0);
    transform: translateX(15px);
    opacity: 0;
}

.menu-toggle input:checked~span:nth-child(4) {
    /* transform: rotate(-45deg) translate(-1px, 0); */
    transform: rotate(-45deg);
    width: 25px;
   
}

/* Tablet */
@media screen and (max-width: 768px) {
    .wrapper .bottom_nav ul {
        width: 50%;
    }
}

/* Mobile */
@media screen and (max-width: 576px) {
    .menu-toggle {
        display: flex;

    }

    .wrapper .bottom_nav ul{
        position: absolute; 
        top: 200px;
        width: 100%;
        right: 290px;
        height: 100vh;
        display:inline;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        background-image: linear-gradient(#1f31ae, #102370);
        z-index: -1;
        transform: translateX(100%);
        transition: all 1s;
        opacity: 1;
    }

    .wrapper .bottom_nav ul .slide {
        opacity: 0;
        transform: translateX(-100%);
    }
}

/* end top nav */
/* buttom nav */

.wrapper .bottom_nav{
    width: 100%;
    background: #b35e5e;
    height: 45px;
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
    
  }
  
  .wrapper .bottom_nav ul{
    width: 50%;
    height: 45px;
    margin-right: 20px;
    padding-right: 4%;

    display: flex;
  
    justify-content:flex-end;
    align-items: center;
    list-style-type: none;
  }
 
  
  .wrapper .bottom_nav ul li a{
      text-decoration: none;
      padding: 15px 19px;
    color: #4ed4ce;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 12px;
  }
/* buttom nav */
/* slider */


.home{
    width:100%;
    height: 90vh;
     background-color:  hsl(177, 100%, 84%);
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    
}
.home .slide{
    position: absolute;
    left: 0;

    width: 100%;
    height: 100%;
   
    z-index: 1;
    display: none;
    animation: slide 2s ease;

    
}
.home .slide.active{
    display: flex;
    background:  hsl(177, 100%, 84%);
    
}
@keyframes slide{
    0%{
       
        transform: scale(1.1) ;
    }
    100%{
        
        transform: scale(1);
    }
}


.container{
    background-image: url(https://www.mahermedicalcenter.com/wp-content/uploads/2018/02/shutterstock_670468249-750x400.jpg);
   background-repeat: no-repeat;
   background-size: cover;
    max-width: 1170px;
    margin: auto;

}
.home .container{
    flex-grow: 1;

}
.home .caption{
    width: 50%;
    padding: 50px;
}
.home .caption h1{

    width: 100%;
    font-size: 42px;
    color: white;
    margin: 20px;
    

}
.home .slide.active .caption h1{
opacity: 0;
animation: captionText .5s ease forwards;
animation-delay: 1s;
}
.home .caption p{
    font-size: 22px;
    padding: 10px 10px;
    color: white;
}
.home .slide.active .caption p{
opacity: 0;
animation: captionText .5s ease forwards;
animation-delay: 1.2s; 
}
.home .caption a{
    display: inline-block;
    padding: 10px 5px;
   margin-top: 20%;
   text-size-adjust: 20px;
    background-color: white;
    text-decoration: none;
    color: blue;
    box-sizing: border-box;
    border-radius: 250px ;
   
}
.home .slide.active .caption a{
opacity: 0;
animation: captionText .5s ease forwards;
animation-delay: 1.4s;
}

@keyframes captionText{
    0%{
        opacity: 0;
        transform: translateX(-100px);
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}
 
 .form{
     position:absolute;
     top: 500px;
    background-color: hsl(177, 100%, 84%);
    display: flex;
    margin-left: 10%;
    width: 80%;
    height:170px;
    align-items: center;
    justify-content:center;
    z-index: 1;
   
    
}
.form .content11 {
    height:100%;

 
}
.form .content11 img{
    box-sizing: content-box;

}
.form .content13{
  
    margin-bottom: 10px;
    width:200px;
    height: 90%;
    background-color: rgb(127, 109, 155);
}
.form .content13 Form h1{
    color: white;
    padding-top: 10px;
    padding-left: 20px;
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 900;
    font-display:initial;
}
.form .content13 Form .twoinput{
    padding: 5px;
    display: flex;
}
.form .content13 Form .twoinput .inputbox input[type="text"]{
    width:60%;
    background-color: white;
    color: #fff;
    padding: 6px 15px;
    font-size: 10px;
   
    border-radius: 50px;
    border:#fff
      

}

.form .content13 Form .twoinput .inputbox span{
    opacity: 5;
    font-size: 10px;
    background-color: transparent;
    position:relative;
    padding: -6px;
    pointer-events: none;
    
    transition:0.5s;
    color:black;
  }
  .form .content13 Form .twoinput .inputbox input[type="Submit"]{
    background-color: #7dda14;
    margin-top: 3px;
    margin-right: 2px;
    padding: 5px 20px;
    border-radius: 20px;
    cursor: pointer;
   
   /* padding: 10px; */
    /* size:10%; */
  }
  .form .content13 Form .twoinput .inputbox input:focus~ span,
  .form .content13 Form .twoinput .inputbox input:valid~ span{
    color: #f0f7f5;
    font-size: 12px;
    transform:translateY(-10px);
  }

  @media screen and (max-width: 576px) {
    .form .content13{
        margin-left: 20%;
        position:sticky;
        width:200px;
        height: 110%;
        background-color: rgb(127, 109, 155);
    }
    .form{
        position:absolute;
        top: 500px;
       background-color: hsl(177, 100%, 84%);
       display: inline;
       margin-left: 10%;
       width: 80%;
       height:170px;
       align-items: center;
       justify-content:center;
       z-index: 1;
      
       
   }
   .form .content11 img{
       box-sizing: content-box;
   
   }
   .form .content13 Form{
       width:fit-content;
       align-items: center;
       height: 400px;
   }
  
   .form .content13 Form h1{
       color: white;
       padding-top: 10px;
       padding-left: 20px;
       font-size: 10px;
      
   }
   .form .content13 Form .twoinput{
      
       display: inline;
   }
   .form .content13 Form .twoinput .inputbox input[type="text"]{
       width:50%;
       margin-bottom:7px;
       background-color: white;
       color: #fff;
       padding: 6px 15px;
       font-size: 10px;
      
       border-radius: 50px;
       border:#fff
         
   
   }
   
   .form .content13 Form .twoinput .inputbox span{
       opacity: 1;
       font-size: 10px;
       background-color: transparent;
       position:relative;
       padding: 6px;
       pointer-events: none;
       
       transition:0.5s;
       color:black;
     }
     .form .content13 Form .twoinput .inputbox input[type="Submit"]{
       background-color: #7dda14;
       margin-top: 3px;
       margin-right: 2px;
       padding: 5px 20px;
       border-radius: 20px;
       cursor: pointer;
      
      /* padding: 10px; */
       /* size:10%; */
     }
     .form .content13 Form .twoinput .inputbox input:focus~ span,
     .form .content13 Form .twoinput .inputbox input:valid~ span{
       color: #f0f7f5;
       font-size: 10px;
       transform:translateY(10px);
     }

  }



/* control */

.home .control .prev,
 .home .control .next{
     position: absolute;
     z-index: 2;
     top: 50%;
     height: 40px;
     width: 40px;
     background-color: transparent;
     text-align: center;
     line-height: 40px;
     font-size: 20px;
     cursor: pointer;

}
.home .control .prev{
    left: 0;
}
.home .control .next{
    right: 0;
}


@media(max-width: 767px){
.control{
    display: none;
}
}

/* page2 */

.content2 .content21{
    width: 100%;
    height: 300px;
    background-image: url(images/c6.png);
    background-repeat: no-repeat;
    margin-top: 50px;
    margin-left: 50px;
    background-position: left;
    align-items: center;
    justify-content: center;
}


.content2 .content21 .card2{
    width:40%;
 
    height: 300px;
    background-color: #1a1a1a;
    margin-left: 35%;

}
.content2 .content21 .card2 .line{
   
    padding: 10px;
    display: flex;
   
    width: 100%;
    margin-bottom: 20px;
}
.content2 .content21 .card2 .line .vl{
    margin-left: 20px;
    border-left: 4px solid green;
    height:60px;

}
.content2 .content21 .card2 .line .title{
    margin-top: 20px;
    padding:0;
    margin-left: 0;

}
.content2 .content21 .card2 .line .title p{
    padding-left: 10px;
    padding-top:20px;
   color:rgb(133, 97, 97);

}
.content2 .content21 .card2 .line .title h1{
    padding-top: 5px;
    padding-left: 10px;
    font-size: 17px;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    
}
.content2 .content21 .card2 h4{
    padding-left: 20px;
    padding-bottom:20px;
    padding-right: 20px;
    font-size: 12px;
    line-height:18px;
    color:white;
  
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.content2 .content21 .card2 hr{
   
    color:#dadada
}
.content2 .content21 .card2 .cardend{
    height: 40%;
    padding-top: 10px;
    display: flex;
    

}
.content2 .content21 .card2 .cardend .carde1{
    display: flex;
}

.content2 .content21 .card2 .cardend .carde1 img{
    width: 40px;
    height: 40px;

}

.content2 .content21 .card2 .cardend .carde1 .cardend1 {
    width: 100%;
    height: 100%;

}
.content2 .content21 .card2 .cardend .carde1 .cardend1 h1{
   
    /* font-size: 22px; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-kerning: auto;
    font-optical-sizing: border;
    font-weight: bold;
    font-variant: small-caps;
}
.content2 .content21 .card2 .cardend .carde1 .cardend1 p{
    padding:0;

    width: 100%;
    font-size: 12px;
    font-family: 'Courier New', Courier, monospace;
   
}


.content2 .content22{

    width: 95%;
    height: 150px;
    margin: 50px;
   justify-content: center;
    display: flex;
    background-color:rgb(185, 166, 202);
    
}

.content2 .content22 .conitem{
    padding-left:10% ;
    align-items: center;
    justify-content: center;
    display:inline;

}
.content2 .content22 .conitem .fa{
    margin-left: 25px;
    align-items: center;
    color:#f0f7f5;
    padding-top: 10px;
    font-size: 50px;
}

.content2 .content22 .conitem h1{
    margin: 5px ;
    font-family: 'Courier New', Courier, monospace;
    font-size: 400;
    

}
.content2 .content22 .conitem p{
  color:wheat;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 500;
  font-size: 12px;
  padding-left: 20px;
  font-size-adjust: inherit;
}
.content2 h1{
    align-items: center;
    text-align: center;
}
.content2 .solids{
    justify-content: center;
    padding-left: 50%;
    align-items: center;
    border-left: 4px solid green;
}
.content2 p{
    padding-top: 10px;
    padding-left: 35%;
    width: 30%;
    justify-items: center;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 900;
    
}
.content2 .content23{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
    
}
.content2 .content23 .cont23i{
    width:50%;
    height: auto;
    display: inline;
    padding-left:10%;
    align-items: center;
    justify-content: center;
}


.content2 .content23 .cont23i img{
    padding-left: 25%;
    align-items: center;

}
.content2 .content23 .cont23i h2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
    padding-left: 20%;
}

.content2 .content23 .cont23i p{
    width:70%;
    color:violet;
    padding: 0;
    font-size: 10px;

}
.content2 .content23 .cont23i a{
    direction: none;
    align-items: center;
    padding-top: 10px;
    padding-left: 25%;
}
.content2 .content22 .inline{
    display: flex;
    justify-content: space-between;
   
}

@media screen and (max-width: 576px){
    .content2{
        width:100%;
        
    }
    .content2 .content21{
        width: 100%;
        height: 100%;
        background-image: url(https://d33ljpvc0tflz5.cloudfront.net/dims3/MMH/38fe5a2/2147483647/strip/true/crop/6720x4375+0+0/resize/768x500!/quality/75/?url=https%3A%2F%2Fd26ua9paks4zq.cloudfront.net%2F7e%2F70%2Faced0aa9483ebc1ac0c7f1fbf8f8%2Fgettyimages-1255590983.jpg);
        background-repeat: no-repeat;
        margin-top: 100px;
        
        background-position: left;
        align-items: center;
        justify-content: center;
    }
    
    
    .content2 .content21 .card2{
       margin-top: 300px;
        width:60%;
        height: 300px;
        background-color: #1a1a1a;
        margin-left: 25%;
    
    }
    .content2 .content21 .card2 .line{
       
        padding: 10px;
        padding-top: 0;
        display: flex;
       
        width: 100%;
        margin-bottom: 7px;
    }
    .content2 .content21 .card2 .line .vl{
        margin-left: 10px;
        border-left: 4px solid green;
        height:60px;
    
    }
    .content2 .content21 .card2 .line .title{
        margin-top: 5px;
        padding:0;
        margin-left: 0;
    
    }
    .content2 .content21 .card2 .line .title p{
        padding-left: 5px;
        padding-top:10px;
       color:rgb(133, 97, 97);
    
    }
    .content2 .content21 .card2 .line .title h1{
        padding-top: 5px;
        padding-left: 5px;
        font-size: 14px;
        color:white;
        font-family: Arial, Helvetica, sans-serif;
        
    }
    .content2 .content21 .card2 h4{
        padding-left: 10px;
        padding-bottom:7px;
        
        font-size: 12px;
        line-height:13px;
        color:white;
      
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    .content2 .content21 .card2 hr{
       margin-right: 10px;
        color:#dadada
    }
    .content2 .content21 .card2 .cardend{
    
        
        display: flex;
        
    
    }
    .content2 .content21 .card2 .cardend .carde1{
        display: flex;
    }
    
    .content2 .content21 .card2 .cardend .carde1 img{
        width: 20px;
        height: 20px;
    
    }
    
    .content2 .content21 .card2 .cardend .carde1 .cardend1 {
        width: 100%;
        height: 100%;
    
    }
    .content2 .content21 .card2 .cardend .carde1 .cardend1 h1{
       
        font-size: 14px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-kerning: auto;
        font-optical-sizing: border;
        font-weight: bold;
        font-variant: small-caps;
    }
    .content2 .content21 .card2 .cardend .carde1 .cardend1 p{
        padding:0;
       color:#4ed4ce;
        width: 100%;
        font-size: 7px;
        font-family: 'Courier New', Courier, monospace;
       
    }
    
    
    .content2 .content22{
    
        width: 95%;
        height: 300px;
        margin: 50px;
       justify-content: center;
        display: inline-flex;
        background-color:rgb(185, 166, 202);
        
    }
    .content2 .content22 .inline{
        display: inline;
    }
    
    .content2 .content22 .conitem{
        padding-left:10% ;
        align-items: center;
        justify-content: center;
        display:inline;
    
    }
    .content2 .content22 .conitem .fa{
        margin-left: 25px;
        align-items: center;
        color:#f0f7f5;
        padding-top: 10px;
        font-size: 50px;
    }
    
    .content2 .content22 .conitem h1{
        margin: 5px ;
        font-family: 'Courier New', Courier, monospace;
        font-size: 400;
        
    
    }
    .content2 .content22 .conitem p{
      color:wheat;
      font-family: 'Times New Roman', Times, serif;
      font-weight: 500;
      font-size: 12px;
      padding-left: 20px;
      font-size-adjust: inherit;
    }
    .content2 h1{
        align-items: center;
        text-align: center;
    }
    .content2 .solids{
        justify-content: center;
        padding-left: 50%;
        align-items: center;
        border-left: 4px solid green;
    }
    .content2 p{
        padding-top: 10px;
        padding-left: 35%;
        width: 30%;
        justify-items: center;
        text-align: center;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-weight: 900;
        
    }
    .content2 .content23{
        width:100%;
        height: 500px;
        display: inline;
        justify-content: center;
        padding-bottom: 20px;
        padding-left: 50px;
        
    }
    .content2 .content23 .cont23i{
        padding: 10px;
        margin:0%;
        box-shadow: 1px  rgb(61, 150, 150);
        height: auto;
        display: inline;
        align-items: flex-start;
        justify-content: center;
    }
    
    
    .content2 .content23 .cont23i img{
       padding-right: 10%;
       align-items: center;
    
    }
    .content2 .content23 .cont23i h2{
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 18px;
        padding-left: 35%;
    }
    
    .content2 .content23 .cont23i p{
        width:90%;
        color:violet;
        font-size: 10px;
    
    }
    .content2 .content23 .cont23i a{
        text-decoration-line: none;
        direction: none;
        color:blueviolet;
        align-items: center;
        padding-top: 10px;
        padding-left: 35%;
        padding-bottom: 20px;
    }
}


/* pagen3 */
@media screen and (max-width: 576px){

    .page3content .content31 .textcontent h5{
        font-style: italic;
        font-size: 9px;
        padding-bottom: 8px;
    }
    
    .page3content .content31 .textcontent h1{
        font-size: 15px;
        font-weight: 600;
        padding-bottom: 10px;
        padding-left: 5px;
    }
    
    .page3content .content31 .textcontent .textdetail p{
        font-style: italic;
        font-size: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
        font-weight: 700;
        line-height: 15px;
    
    }
    .page3content .content31 .twitterrip{
        display: inline;
        margin-right: 30px;
        margin-bottom: 30px;
    }
    .page3content .content31{
        height: 700px;
    }
    .page3content .content32{
        height: 700px;
    } 
    
        .page3content .content33 .Card{
            width:50vh;
            height: 40vh;
           
        
            box-shadow:0 4px 16px 0 rgba(46, 7, 34, 0.692);
            background-color: rgb(194, 228, 229);
            font-variant: small-caps;
            font-weight: 500;
            font-feature-settings: "afrc";
            font-kerning: normal;
           
        }
    
}



.page3content .content31{
    width :100%;
    height: 300px;
    background-image: url(https://image.freepik.com/free-photo/attented-playing-videogames-caucasian-boy-s-portrait-dark-studio-background-neon-light-beautiful-curly-model-concept-human-emotions-facial-expression-sales-ad-modern-tech-gadgets_155003-33754.jpg);
   
    /* opacity: 0.7; */
    background-repeat: no-repeat;
    background-size:cover;
    display: flex;
   justify-content: space-between;
}

.page3content .content31 .textcontent{
    color:#bbb;
    margin: 30px;
    width: 300px;
    height: 100%;
}
.page3content .content31 .textcontent h5{
    font-style: italic;
    font-size: 12px;
    padding-bottom: 10px;
}

.page3content .content31 .textcontent h1{
    font-size: 25px;
    font-weight: 600;
    padding-bottom: 10px;
    padding-left: 5px;
}

.page3content .content31 .textcontent .textdetail p{
    font-style: italic;
    font-size: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 900;
    line-height: 20px;

}
.page3content .content31 .twitterrip{
    display: flex;
    margin-right: 30px;
}


.page3content .content31 .twitterrip .contenttwit{
    margin:30px;
    padding:20px;
    width:200px;
    box-shadow:0 4px 8px 0 rgba(14, 111, 223, 0.692);
    height: 150px;
    background-color: white;
}
.page3content .content31 .twitterrip .contenttwit p{
    font-size: 12px;
    line-height:15px;
    font-style: italic;

}
.page3content .content31 .twitterrip .contenttwit h1{
    font-size: 30px;
    text-align: end;
    color:beige;
    
}
.page3content .content31 .twitterrip .contenttwit img{
    margin-right: 20px;
    width:80%;
}

.page3content .content32{
    margin-right: 50px;
    height:400px;
    box-shadow:2px 4px 8px 0 rgba(46, 7, 34, 0.692);
    position: relative;
    background-image: url(images/c3.gif);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
}

.page3content .content32 .line{
    box-shadow:0 2px 0px 0 rgba(46, 7, 34, 0.692);
    margin-top: 50px;
    padding: 10px;
    display: flex;
    height:40px;
    width: 50%;
    margin-bottom: 50px;
    
}
.page3content .content32 .vl{
    
    margin-left: 20px;
    border-left: 4px solid green;
    height:50px;
    margin-right: 10px;
}
.page3content .content32 .title{
    justify-content: space;
    
}
.page3content .content32 .line .title p{
    font-size: 10px;
    color: green;
}
.page3content .content32 .line .title h1{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    letter-spacing: 1px;
    color:rgb(143, 49, 100);
}

.page3content .content32 .disp{
    margin-left:50px;
    width: 50%;
}
.page3content .content32 .disp  p{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-variant: small-caps;
}
.page3content .content32 .disp h6{
   padding-top: 20px;
   padding-bottom:10px;
    font-size: 10px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-display:initial ;
    line-height: 15px;
    letter-spacing: 1px;
    color:rgb(230, 185, 132);

}
.page3content .content32 .disp h4{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    font-size: 30px;
    color:#4e3f39;
    padding-left: 10px;
    font-style: italic;
}
.page3content .content32 .disp1{
    font-size: 10px;
    padding-top: 10px;
    padding-left: 30px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:rgb(14, 82, 82);
    width:400px

}

.page3content .content33{
   
   padding-top: 170px;
    width: 95%;
    height: 400px;
    margin-right:30px;
    background-image: url(images/c4.png);
    background-size: 60% 290px;

    background-position: right;
    background-repeat: no-repeat;
}
.page3content .content33 .Card{
    width:70vh;
    height: 40vh;
    margin-left: 50vh;

    box-shadow:0 4px 16px 0 rgba(46, 7, 34, 0.692);
    background-color: rgb(194, 228, 229);
    font-variant: small-caps;
    font-weight: 700;
    font-feature-settings: "afrc";
    font-kerning: normal;
   
}

.page3content .content33 .Card h1{
    padding: 30px;
   
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.page3content .content33 .Card p{
    padding-left: 20px;
    font-size: 10px;
    letter-spacing: 1px;
    line-height: 15px;
    font-family:Arial, Helvetica, sans-serif;

}

.page3content .content33 .Card button{
    margin: 20px;
    cursor: pointer;
    padding: 7px;
    color:blue;

    border-radius: 10px solid blue;
    background-color: darkgoldenrod;
}


/* end page 3 */


.news .newscontent {
    text-align: center;
    align-items: center;    
}

.news .newscontent h4{
    padding-top: 20px;
    padding-bottom: 20px;
   margin-left: 30%;
    width:90vh;
    white-space: pre-wrap;
}
.news .imageplus{

    margin-left: 30px;
    margin-right: 30px;
    display: flex;
    justify-items: space;
    justify-content: center;
}

/* Tablet */
@media screen and (max-width: 768px) {
    .news .newscontent h4{
        padding-top: 10px;
        padding-bottom: 20px;
       margin-left: 10%;
        width:90vh;
        /* white-space: pre-wrap; */
    }
   
    .news .imageplus{
        width:100%;
        align-items: center;
        margin-left: 10px;
        margin-right: 10px;
        display: inline;
        justify-items: space;
        justify-content: center;
    }
}
/* Mobile */
@media screen and (max-width: 576px) {
    .news .newscontent h4{
        padding-top: 10px;
        padding-bottom: 20px;
       margin-left: 10%;
        width:90vh;
        /* white-space: pre-wrap; */
    }
    .news .imageplus{
        width:100%;
        align-items: center;
        margin-left: 10px;
        margin-right: 10px;
        display: inline;
        justify-items: space;
        justify-content: center;
    }
    .news .imageplus .image{
        position:relative;
        width : 250px;
        height:200px;
    
    }
    }
    /* responsive for mobile and tablet end */
.news .imageplus .image{
    position:relative;
    width : 350px;
    height:300px;

}
.news .imageplus .image .whitecontent{
    z-index:1;
    bottom: 40px;
}

.news .imageplus .image img{

    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin: 20px;
    width: 200px;
    height: 200px;
}

.news .imageplus .image img :hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transition: 0.3;
    width: 250px;
    height:60px;

}
.news .imageplus .image .whitecontent{
    position:relative;
    margin-bottom: 100px;
    box-shadow:0 4px 8px 0 rgba(20, 74, 136, 0.692);
   width: 200px;
   height: 50px;
   background-color:white;
    display: flex;
}
.news .imageplus .image .whitecontent h1{
   
    width: 60px;
    height: 40px;
    margin-top: px;
    margin-left: 10px;
    
    font-size: 14px;
    background-color:rgb(218, 95, 38);
    color:#fff;


}
.news .imageplus .image .whitecontent h3{
    padding-top: 10px;
    padding-left: 10px;
    font-size: 11px;
    letter-spacing: 2px;
}


footer{
    bottom: 0%; 
    width: 100%;
    background-color: #111 ;

}
.main-content{
    display: flex;
    padding: 10px;
}
.box{
    flex-basis: 25%;
    
    padding-block-end: 2%; 
}
.box a{
    opacity: 0.5;
    font-size: 1.125rem;
    font-weight: 400;
    color: darkturquoise;
    text-transform: uppercase;
}
.box p{
    padding-left: 20px;
    font-size: .700rem;
   
    color: darkturquoise;
    text-transform: uppercase;
}
.box .content{
    padding-left: 20px;
    margin: 20px 0 0 0;
    position: relative;
    color: gray;

}
.box .content .place{
    padding-top: 10px;
    padding-bottom: 10px;
}

.box .content .place i{
    padding: 2px;
}


.box .social{
    margin-top: 50px  ;
}
.box .social a{
    padding: 0 5px;
}

.box .social a span{
    height: 40px;
    width: 40px;

    background: #1a1a1a;
    line-height: 40px;
    text-align: center;
    font-size: 18px;
    border-radius: 5px solid white;

    transition: .5s;
}
.last h2{
    color:#bbb
}

.center h2{
    color:#bbb;
}
.center .content .blog1{
    display: flex;
    
}
.center .content .blog1 img{
    width: 40px;
    height: 40px;

}
hr.solid {
    margin-top:3px;
    width:30vh;
    border-top: 2px solid rgb(219, 198, 198);
  }
hr.solid1 {
      margin-top: 10px;
      margin-bottom: 20px;
      opacity: .7;
    width:30vh;
    border-top: 2px solid #bbb;
  }
.box .social a span:hover{
    background: #f12020;
     
}

.right .content1{
    padding-top: 20px;
    padding-bottom: 10px;
    display: flex;
}
.right h2{
    color:white;
}
.right .content1 h1
{
    size: 10px;
}
.right .content1 a p{
    font: 10px; ;
    
}
 
.footer .footer-bottom
{
    height: 0%;
    bottom: 0%;
     text-align: center;
    font-family: monospace;
    color: white;
    }
    @media (max-width:858px){
      .main-content{
        display: inline;
        padding: 10px;
        text-align: center;
    }
  }
